
.list-ios {
    background: var(--ion-item-background, var(--ion-background-color, rgba(255,255,255,0.6)));
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section1{
      width: 100%;
      height: auto;
    }
    .section1 main{
      width: 90%;
      padding: 80px 0px 0px;
      margin: 0px 5%;
    }
    .section1 main .flexElement{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .section1 main .flexElement p{
          font-weight: 200;
        font-size: 28pt;
      }

      .section1 main .flexElement button{
        margin-left: auto;
      }
      .section1 main .imagen{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px ;
        height: 25vh;
      }
      .section1  main .imagen .cantItem{
        width: 10%;
        padding: 2%;
        background-color: #4c0607;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 10px;

    }
    .section1  main .imagen .cantItem p{
        color: white;
    }
      .section1 main .group{
        width: 30%;
       height: auto;
       margin-left: auto;
       margin-top: -6%;
      }
      .section1 main .group button{
        width: 50%;
        border-radius: 0px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
      .section1 main .group button:first-child{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      
      .section1 main .etiquetas{
        width: 100%;
        height: auto;
        margin: 10px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
      .section1 main .etiquetas .popular{
        width: auto;
        height: auto;
        margin: 0px 5px;
        background-color: #fba300;
        padding: 5px 5%;
        color: white;
        border-radius: 50px;
        text-shadow: 1px 1px 4px rgb(150 150 150 / 78%);
    }
    .section1 main .etiquetas .nuevo{
        width: auto;
        height: auto;
        margin: 0px 5px;
        background-color: #8d4b00;
        padding: 5px 5%;
        color: white;
        border-radius: 50px;
        text-shadow: 1px 1px 4px rgb(150 150 150 / 78%);
    }
      .section1 main .opciones{
          width: 100%;
          height: auto;
          margin: 5% 0px 30%;
      }
      .section1 main .opciones p{
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }

    
    
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
      .section1{
        width: 100%;
        height: auto;
      }
      .section1 main{
        width: 90%;
        padding: 15% 0px 0px;
        margin: 0px auto;
      }
      .section1 main .flexElement{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .section1 main .flexElement p{
          font-weight: 200;
        font-size: 5vh;
      }

      .section1 main .flexElement button{
        margin-left: auto;
      }
      .section1 main .imagen{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px ;
        height: 25vh;
      }
      .section1  main .imagen .cantItem{
        width: 5%;
        padding: 1%;
        background-color: #4c0607;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 10px;

    }
    .section1  main .imagen .cantItem p{
        color: white;
    }
      .section1 main .group{
        width: 30%;
       height: auto;
       margin-left: auto;
       margin-top: -3.5%;
      }
      .section1 main .group button{
        width: 50%;
        border-radius: 0px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
      .section1 main .group button:first-child{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      
      .section1 main .etiquetas{
        width: 100%;
        height: auto;
        margin: 10px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
      .section1 main .etiquetas .popular{
        width: auto;
        height: auto;
        margin: 0px 5px;
        background-color: #fba300;
        padding: 5px 5%;
        color: white;
        border-radius: 50px;
        text-shadow: 1px 1px 4px rgb(150 150 150 / 78%);
    }
    .section1 main .etiquetas .nuevo{
        width: auto;
        height: auto;
        margin: 0px 5px;
        background-color: #8d4b00;
        padding: 5px 5%;
        color: white;
        border-radius: 50px;
        text-shadow: 1px 1px 4px rgb(150 150 150 / 78%);
    }
      .section1 main .opciones{
          width: 50%;
          height: auto;
          text-align: center;
          margin: 5% 25% 30%;
      }
      .section1 main .opciones p{
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }
    

    
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {}
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {}
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1366px) {
      .section1{
        width: 100%;
        height: auto;
        text-align: center;
      }
      .section1 main{
        width: 90%;
        max-width: 1440px;
        padding: 5% 0px 0px;
        margin: 0px auto;
      }
      .section1 main .flexElement{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .section1 main .flexElement p{
          font-weight: 200;
        font-size: 5vh;
      }

      .section1 main .flexElement button{
        margin-left: auto;
      }
      .section1 main .imagen{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px ;
        height: 25vh;
      }
      .section1  main .imagen .cantItem{
        width: 5%;
        padding: 1%;
        background-color: #4c0607;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-right-radius: 10px;

    }
    .section1  main .imagen .cantItem p{
        color: white;
    }
      .section1 main .group{
        width: 30%;
       height: auto;
       margin-left: auto;
       margin-top: -3.5%;
      }
      .section1 main .group button{
        width: 50%;
        border-radius: 0px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
      .section1 main .group button:first-child{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      
      .section1 main .etiquetas{
        width: 100%;
        height: auto;
        margin: 10px 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
      .section1 main .etiquetas .popular{
        width: auto;
        height: auto;
        margin: 0px 5px;
        background-color: #fba300;
        padding: 5px 5%;
        color: white;
        border-radius: 50px;
        text-shadow: 1px 1px 4px rgb(150 150 150 / 78%);
    }
    .section1 main .etiquetas .nuevo{
        width: auto;
        height: auto;
        margin: 0px 5px;
        background-color: #8d4b00;
        padding: 5px 5%;
        color: white;
        border-radius: 50px;
        text-shadow: 1px 1px 4px rgb(150 150 150 / 78%);
    }
      .section1 main .opciones{
          width: 50%;
          height: auto;
          text-align: center;
          margin: 5% 25% 30%;
      }
      .section1 main .opciones p{
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }
    }