<ion-content [fullscreen]="true">


  <section class="section1">
    <main>
      <h1>Nuestra<br>
        historia
      </h1>
      <br>
      <p>Novimebre 1958 nace una gran historia</p>
      <br>
      <p>
        Siendo un joven de 15 años, Yip Ben Po, de origen Chino Cantonés arribo al Puerto de Guaymas acompañado de su tío.Su papá decidió enviarlo a donde residía otro tío de él, para salvarlo de la guerra de invasión de Japón a China que duró de 1930 a 1945.
<br><br>
Al entrar en el Puerto y teniendo dificultad para hablar el idioma español, los agentes de inmigración lo registraron como Francisco Lay Yepo (Lay era el nombre de su mamá). Su tío era agricultor, sembraba Frijol de Soya y ahí empezó aquel joven a laborar su destino en este Continente.
<br><br>
Pasaron 2 años cuando decide ir a vivir y trabajar a Casas Grandes Chihuahua.
<br><br>
Cuando cumplió 19 años de edad decidió probar suerte en ciudad Juárez y se asocio con otros dos paisanos en una abarrotera, pero el negocio no daba para los tres, se separó y empezó a trabajar en una carnicería de nombre “La Central”.
<br><br>
Tiempo después, Yip Ben Po, trabajó en una carnicería que se llamaba “La Morena” y dado a sus capacidades, el mismo dueño propuso que se quedará con el negocio y se lo pagará a plazos, y así fue que le cambió el nombre y le puso “La Morenita”.
<br><br>
Trabajaba muy duro, por la noche se preparaba y hacia todos los cortes de la carne  y por la mañana ya tenia todo listo para empezar a vender muy temprano, y así les tomaba ventaja a los demás competidores, púes ellos terminaban sus labores y se iban a descansar, mientras el seguía trabajando hasta la madrugada; gracias a que el sacrificaba horas de descanso y por lo disciplinado que era y sus esfuerzos por ahorrar llego a ser un hombre de Empresa.
<br><br>
En 1944 se casó y formó una familia.
<br><br>
El 28 de Noviembre de 1958, abrió sus puertas “La Nueva Central” en el Centro Histórico, y de ahí en adelante estableció otros negocios.
<br><br>
Por “La Nueva Central” han pasado infinidad de gente de todas las clases sociales, así como artistas famosos, cuando aún no lo eran, escritores, boxeadores, políticos, agentes aduanales, etc…
      </p>
     
     
      
    </main>
  </section>

  <section class="fondo"></section>
</ion-content>
