<ion-content [fullscreen]="true">


  <section class="section1">
    <main>
      <h1>Mis 
        alertas
      </h1>
      <br>
     <button style="width: 100%;" class="marcar">Marcar todas como leidas</button>
     
      
      
      <div class="btnLines">
        <div class="btnItem">
          <p><strong>Pedido cancelado</strong><br>
            <small>Hace 3 horas</small> <br>
          <small>Lo sentimos, pero tuvimos que cancelar tu pedido.</small></p>
          <button><i class="fas fa-bell"></i></button>
        </div>

        <div class="btnItem" style="opacity: .5;">
          <p><strong>Pedido cancelado</strong><br>
            <small>Hace 3 horas</small> <br>
          <small>Lo sentimos, pero tuvimos que cancelar tu pedido.</small></p>
          <button><i class="fas fa-bell"></i></button>
        </div>
    
      </div>
    </main>
  </section>

  <section class="fondo"></section>
</ion-content>
