<ion-content [fullscreen]="true">


  <section class="section1">
    <main>
      <h1>Editar <br> dirección
      </h1>
      <br>
      <div class="contbtn">
        <p>Busca cerca de tu ubicación</p>
        <button >Usar mi ubicación</button>
      </div>
      <br>
      <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2018.3853022999276!2d-106.42452471274413!3d31.702072032521766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e75c3be02a48cf%3A0x730aba1563a369!2sCostco%20Wholesale!5e0!3m2!1ses-419!2smx!4v1619026041607!5m2!1ses-419!2smx" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
<form action="">
  <p>Tu ubicación</p>
  <input type="text" value="Mi dirección">

  <p>Número exterior</p>
  <input type="number" placeholder="Obligatorio">

  <p>Número interior</p>
  <input type="number" placeholder="Opcional">

  <p>Etiqueta</p>
  <input type="text" placeholder="Obligatorio">

  <button>Guardar</button>
</form>

    </main>
  </section>

  <section class="fondo"></section>
</ion-content>
