<!-- <section class="botonera">
  <main>
    <button [routerLink]="['/mispedidos']"><i class="fas fa-clipboard-list"></i></button>
    <button [routerLink]="['/perfil']" ><i class="fas fa-user"></i></button>
    <button [routerLink]="['/misdirecciones']"><i class="fas fa-map-marker-alt"></i></button>
    <button [routerLink]="['/inicio']" class="orange"><i class="fas fa-utensils"></i></button>
  </main>
</section> -->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="botoneraMovil" >
    <ion-tab-button tab="mispedidos">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="misdirecciones">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Direcciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<section class="menuDesk">
  <main>
    <ol>
      <li [routerLink]="['/inicio']" class="logo"><img src="../../assets/images/logo.png" alt=""></li>
      <li [routerLink]="['/inicio']"><p>Menu</p></li>
      <li [routerLink]="['/perfil']"><p>Perfil</p></li>
      <li [routerLink]="['/misdirecciones']"><p>Direcciones</p></li>
      <li [routerLink]="['/mispedidos']"><p>Pedidos</p></li>
    </ol> 
  </main>
</section>